<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="app.name" source="spring.application.name"/>
    <springProperty scope="context" name="app.instance.id" source="app.instance.id" defaultValue="${HOSTNAME}"/>

    <!-- Define timestamp for log entries -->
    <timestamp key="timestamp" datePattern="yyyy-MM-dd'T'HH:mm:ss.SSSX"/>

    <appender name="FLUENT_SYNC" class="ch.qos.logback.more.appenders.DataFluentAppender">
        <!-- Simplified tag for routing only -->
        <tag>app</tag>

        <!-- Fluentd connection settings -->
        <remoteHost>${FLUENTD_HOST:-localhost}</remoteHost>
        <port>${FLUENTD_PORT:-24224}</port>

        <!-- Move all metadata to additional fields -->
        <additionalField>
            <key>app_name</key>
            <value>${app.name}</value>
        </additionalField>
        <additionalField>
            <key>instance_id</key>
            <value>${app.instance.id}</value>
        </additionalField>
        <additionalField>
            <key>severity</key>
            <value>%level</value>
        </additionalField>
        <additionalField>
            <key>trace_id</key>
            <value>%X{traceId:-}</value>
        </additionalField>
        <additionalField>
            <key>span_id</key>
            <value>%X{spanId:-}</value>
        </additionalField>

        <!-- Buffer and timeout settings -->
        <bufferCapacity>16777216</bufferCapacity>
        <timeout>10000</timeout>

        <!-- Message formatting with app name, method, line number and trace info -->
        <encoder>
            <pattern><![CDATA[%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} ${app.name} %-5level [%X{traceId:-},%X{spanId:-}] %logger{36}.%M:%line - %message]]></pattern>
        </encoder>

        <!-- Custom message field name -->
        <messageFieldKeyName>message</messageFieldKeyName>

        <!-- Map marker settings -->
        <flattenMapMarker>true</flattenMapMarker>
        <markerPrefix>marker_</markerPrefix>
    </appender>

    <!-- Async wrapper for Fluentd appender -->
    <appender name="FLUENT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>999</queueSize>
        <neverBlock>true</neverBlock>
        <maxFlushTime>1000</maxFlushTime>
        <appender-ref ref="FLUENT_SYNC" />
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${app.name} [%thread] [%X{traceId:-},%X{spanId:-}] %-5level %logger{36}.%M:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FLUENT"/>
    </root>
</configuration> 